NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiZmFiaWFud2ludGVyYmluZSIsImEiOiJjbWFiMjU4NWgyNmhiMmxwdzFndzZpaWtsIn0.qip66iHah8qFMj1lrp2cpQ
NEXT_PUBLIC_SUPABASE_URL=https://jnbzbazrlvxvcqvppqly.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpuYnpiYXpybHZ4dmNxdnBwcWx5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3MzMwMTIsImV4cCI6MjA2MzMwOTAxMn0.ANwjgLhYSVvICeCZOawJ3MmpDFXfFq6TaQlZiiDyazs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpuYnpiYXpybHZ4dmNxdnBwcWx5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzczMzAxMiwiZXhwIjoyMDYzMzA5MDEyfQ.lpN5kEMRBemQbDnx73OxMpEfVD5-xbflsMTBA7mPedY
FOURSQUARE_API_KEY=fsq388UaibBBQISZfhbw1K7pYvzNsMWaAlFot8FmZ1tAbaM=
